/*стили для анимированного меню*/
.larisa{
    box-sizing: border-box;
    margin: 0;
    transition: all ease 1s;   
}

.hamburg{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
    
}
.hamburg:focus{
    outline: none;
}
.hamburg span{
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #fff;
}
.hamburg span::before, .hamburg span::after{
    position: absolute;
    display:block;
    left: 0;
    width: 100%;
    height: 8px;
    background:#fff;
    content: "";
}
.hamburg span::before{
    top: -20px;
}
.hamburg span::after{
    bottom: -20px;
}
.hamburg-line{
    background: #cb0032;
}
.hamburg-line span{
    transition: background 0s 0.3s;

}
.hamburg-line span::before, .hamburg-line span::after{
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}
.hamburg-line span::before{
    transition-property: top, transform;
}
.hamburg-line span::after{
    transition-property: bottom, transform;
}
.hamburg-line.is-active{
    background: greenyellow;
}
.hamburg-line.is-active span{
    background: none;
}
.hamburg-line.is-active span::before{
    top:0;
    transform: rotate(-45deg);
}
.hamburg-line.is-active span::after{
    bottom:0;
    transform: rotate(45deg);
}

.hamburg-line.is-active span::before, .hamburg-line.is-active span::after{
    transition-delay: 0s, 0.3s;
}
#menu{
    width: 300px;
    margin-left: -204px;
    background: rgb(133, 228, 145);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all ease 1s;
    
}
#menu.nav-active{
    margin-left: 0;
}
.body-active{
    margin-left: 300px;
}
.container{
    width: 80%;
    min-width: 800px;
   margin:20px auto;
    


}
/*стили для слайдера*/
.slider{
height: 500px;
width: 500px;
    
    position: relative;
    border: 4px solid #caccd1;
    margin: 100px auto;
    overflow: hidden;
}
.line {
    position: relative;



    
    overflow: hidden;
    left: 0;
    
    
    transition: all ease 1s;

}
.slide {
    float: left;

    
    
}   

/*стили для замкнутого слайдера*/
#sld{
    width: 256px;
    height: 256px;
    border: 4px solid#c0c0c0;
    margin: auto;
    position: relative;
    
}
.slide-single{
    width: 256px;
    height: 256px;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin: 60px auto 40px auto;


}
h5{
    text-align: center;
    font-family: Geneva, sans-serif;
    font-size: 24px;
    color:green;


}
footer{
height: 15vh;

background: rgb(17, 14, 189);

width: 100%;



border: 10px;
border-color: rgb(199, 64, 64);

position: relative;

}

