
    .circle{/*класс для 12 урока*/
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid black;
        display: inline-block;
        margin:40px;
        

    }
    .red{background: red;}/*для 12 урока*/
    .blue{background: blue;}/*12*/
    .green{background: green;}/*12*/


    .CenterBlock{
        display:block; /*Делаем блочный элемент*/
        margin:auto;/*Задаем автоматический внешний отступ*/
        
        }
footer{

height: 15vh;

background: rgb(15, 231, 62);

width: 100%;



padding: 20px 0;

border-bottom: 3px solid rgb(21, 12, 53);

border-right: 3px solid rgb(21, 12, 53);

border-left: 3px solid rgb(21, 12, 53);

position: relative;

}
footer p{

    color: rgb(12, 9, 9);
    
    margin: 10px 0;
    font-family: Georgia;
    
    
    }